html {
    background-image: url(../img/backgroud.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}  
        /* Additional styles can be added here */
        .centered-text {
            text-align: center;
            margin-top: 50px; /* Điều chỉnh tùy theo nhu cầu */
        }

        .filter-container {
            display: none;
            text-align: center;
            margin-top: 20px;
            
        }

        .filter-option {
            margin-right: 10px;
            font-size: 15px;
        }
.menu {
    position: relative;
    display: inline-block;
}
#menuBtn:hover {
    background-color: #325b9c; /* Darker background on hover */
}
#menuBtn {
    background-color: #4c63af; /* Green */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition */
}

.menu-options {
    display: none;
    position: absolute;
    background-color: #5ff5af;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px; /* Rounded corners */
}

.menu-options ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-options ul li a {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    color: #333;
}

.menu-options ul li a:hover {
    background-color: #e4d2d2;
}
.centered-text {
    text-align: center;
    margin-top: 50px; /* Adjust as needed */
    color: #080808;
    text-shadow: 3px 3px 4px rgba(235, 247, 237, 0.808); /* Thiết lập đổ bóng */
    font-size: larger;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: #c3e5eb;
  }
  
  td, th {
    border: 2px solid #dddddd;
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  tr:nth-child(even) {
    background-color: #e6c8c8;
  }
  th {
    border-top: 1px solid #ddd;
    font-weight: bold;
    color: #333; /* Màu chữ */
}

td {
    color: #070707; /* Màu chữ */
}
